* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
body {
    background-color: #F5F5F5;
}

/* shared styles */
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.btn {
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: #F5F5F5;
    color: #006A50;
}



/* main styles */
/* nav section styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.nav-container h2 {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}


/* hero section styles */
.hero-parent {
    background-color: #C6E4D6;
    border-radius: 24px;
}
.hero-parent .hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-parent .hero-container .hero-left {
    max-width: 622px;
    margin: 118px 0;
}
.hero-parent .hero-container .hero-left h4 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14,14,14,0.5);
    margin-bottom: 16px;
}
.hero-parent .hero-container .hero-left h2 {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.hero-parent .hero-container .hero-left button {
    color: #FFFFFF;
    background-color: #006A50;
}

/* pillars section styles */
.pillars-of-bangladesh-container {
    margin-bottom: 80px;
}
.pillars-of-bangladesh-container .pillars-heading {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-top: 80px;
    margin-bottom: 32px;
}
.pillars-cards-container {
    display: flex;
    gap: 24px;
}
.pillars-cards-container .pillars-card {
    background-color: #FFFFFF;
    padding: 24px;
    border: 1px solid rgba(14,14,14,0.15);
    border-radius: 16px;
}
.pillars-cards-container .pillars-card img {
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}
.pillars-cards-container .pillars-card h2 {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;
}
.pillars-cards-container .pillars-card p {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 70%;
}


/* future vision section styles */
.vision-parent {
    margin-bottom: 32px;
}
.vision-para {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14,14,14,0.7);
    margin-top: 24px;
    margin-bottom: 32px;
}
.vision-card {
    padding: 32px;
    max-width: 410px;
    border: none;
    border-radius: 16px;
}
.vision-card:nth-child(1) {
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-card:nth-child(2) {
    background-color: rgba(198, 228, 214, 1);
}
.vision-card:nth-child(2) p {
    margin-bottom: 15px;
}
.vision-card:nth-child(3) {
    background-color: #F7EBCF;
}
.vision-btn {
    background-color: #5490F5;
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: #FFFFFF;
    margin-top: 24px;
}
.vision-card-heading {
    margin-bottom: 24px;
}

/* quote section styles */
.quote-parent {
    background-color: #FFFFFF;
    padding: 48px 24px;
    border: 1px solid rgba(14,14,14,0.15);
    border-radius: 16px;
    margin-bottom: 80px;
    position: relative;
}
.quote-parent .quote-icon {
    color: #0E0E0E;
    opacity: 30%;
    font-size: 64px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.quote-para {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;
}

.quote-parent h2 {
    font-size: 20px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 80%;
}
.quote-desc {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 60%;
}

/* opinion section styles */
.opinion-parent {
    margin-bottom: 80px;
}
.opinion-parent h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.opinion-parent table, td, th{
    border: 1px solid lightgray;
    border-collapse: collapse;
}
.opinion-parent table td,th {
    padding: 24px;
}
.opinion-parent .table {
    background-color: #FFFFFF;
    padding: 32px;
    border: 1px solid lightgray;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}
.opinion-parent .table table {
    width: 1216px;
}
.opinion-parent .table table .table-header {
    margin-left: 75%;
}
.opinion-parent .table table th {
    text-align: left;
    background-color: #C6E4D6;
}
.opinion-parent .table table tbody select {
    background-color: #C6E4D6;
    padding: 10px 14px;
    border-radius: 4px;
}


/* recent news section styles */
.recent-news-parent {
    margin-bottom: 80px;
}
.recent-news-parent h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.recent-news-parent p {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 70%;
    margin-bottom: 32px;
}
.news-card-container .news-card {
    display: flex;
    gap: 32px;
    background-color: #FFFFFF;
    padding: 48px;
    margin-bottom: 24px;
    border-radius: 24px;
}
.news-card-container .news-card .satelite {
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.news-card-container .news-card .news-card-right {
    max-width: 744px;
}
.news-card-container .news-card .news-card-right h2 {
    font-size: 28px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
}
.news-card-container .news-card .news-card-right img {
    width: 124px;
    height: 35px;
}
.news-card-container .news-card .news-card-right .date-time {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}
.news-card-container .news-card .news-card-right p {
    font-size: 16px;
    line-height: 22px;
    color: #0E0E0E;
    opacity: 70%;
}
.news-card-container .news-card .news-card-right button {
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    max-width: 140px;
}

.news-card-container .news-card:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

/* donate section styles */
.donate-parent {
    margin-bottom: 80px;
    text-align: center;
}
.donate-parent .donate-heading {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
    text-align: center;
}
.donate-parent p {
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 70%;
    max-width: 1104px;
    margin: 0 auto 32px;
}
.donate-parent .donate-taka {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 32px;
}
.donate-taka .donate-h1, .donate-h2, .donate-h3, .donate-h4{
    padding: 40px;
    border: 1px solid lightgray;
    border-radius: 16px;
}
.donate-taka .donate-h1, .donate-h2, .donate-h3,.donate-h4 {
    background-color: #FFFFFF;
}
.donate-taka .donate-h1:hover, .donate-h2:hover, .donate-h3:hover, .donate-h4:hover {
    cursor: pointer;
    background-color: #C6E4D6;
}
.donate-parent input {
    padding: 20px 40px;
    border: 1px solid lightgray;
    width: 1034px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}
.donate-parent button {
    display: block;
    margin-top: 32px;
    margin: 32px auto 0;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}